# Exploratory Data Analysis

__Before we proceed with building our model, we must fullt understand the nature of the data in order to produce the most efficient and well-performing models for the given data. We eill do this in our Exploratory Data Analysis.__

In [1]:
# Importing Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Reading in the dataset
df = pd.read_csv('Data/bank_data.csv')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,no,no,no,telephone,may,mon,...,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,0,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [14]:
# Seeing the shape of the data
df.shape

(40184, 21)

In [3]:
# Describing the data
df.describe()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
count,40184.000000,40184.000000,40184.000000,40184.000000,40184.000000,40184.000000,40184.000000,40184.000000,40184.000000,40184.000000
mean,40.025358,258.523890,2.568137,0.221680,0.172730,0.081087,93.574227,-40.508339,3.620447,5167.046984
std,10.421655,259.417643,2.765834,1.352208,0.494151,1.570484,0.578203,4.629328,1.734321,72.229695
min,17.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,102.000000,1.000000,0.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,180.000000,2.000000,0.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,320.000000,3.000000,0.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.000000,4918.000000,43.000000,27.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [4]:
# Getting variable information about each feature
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40184 entries, 0 to 40183
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             40184 non-null  int64
 1   job             40184 non-null  object
 2   marital         40184 non-null  object
 3   education       40184 non-null  object
 4   default         40184 non-null  object
 5   housing         40184 non-null  object
 6   loan            40184 non-null  object
 7   contact         40184 non-null  object
 8   month           40184 non-null  object
 9   day_of_week     40184 non-null  object
 10  duration        40184 non-null  int64
 11  campaign        40184 non-null  int64
 12  pdays           40184 non-null  int64
 13  previous        40184 non-null  int64
 14  poutcome        40184 non-null  object
 15  emp_var_rate    40184 non-null  float64
 16  cons_price_idx  40184 non-null  float64
 17  cons_conf_idx   40184 non-null  float64
 18  euribor3m       40184 non-null  float64
 19  nr_employed     40184 non-null  float64
 20  y               40184 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.4+ MB

In [5]:
# Checking duplicates
df.duplicated().sum()

0

__We see that we have some null values in our data. Also, we have 10 numeric features and 11 categorical features (including the target feature). Let us treat these null values first. Also, we have 12 duplicate rows in the data, which we will remove.__

In [7]:
# Getting number of null values
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64